.topnav-right a{
    display: flex;
    float: right;
    text-align: center;
    padding: 8px;
    padding-top: 22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}
#signin{
    padding-right: 16px;;
}
.topnav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    height: 64px;
    
}
.topnav img{
    display: flex;
    float: left;
    padding-top: 16px;
    height: auto;
    padding-left: 24px;
    margin: 0px;
}
#colmar{
    color:rgb(54, 54, 54);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.topnav h3{
    color:rgb(177, 177, 177);
    display: flex;
    float: left;
    font-size: 32px;
    line-height: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.container{
    display:flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow:hidden;
}
#banner{
    background-color: rgb(187, 187, 187);
}
#bannercontent{
    display: flex;
    flex-direction: column;
}
#bannercontent p{
    position: relative;
    top: 15%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    margin-right: 240px;
    color: rgb(73, 73, 73);
}
#learn{
    font-size: 48px;
    font-weight: 900;
}
#bannercontent button{
    position: relative;
    color:white;
    top: 20%;
    border-radius: 3px;
    margin-right: 240px;
    height: 60px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgb(73, 73, 73);
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 270px;
}
.container img{
    float: left;
    padding: 32px 24px;
    width: 60%;
    height: auto;
}
#qoute{
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 32px;
    font-size: 18px;
    color:rgb(121, 118, 118);
    width: 60%;
    word-wrap: break-word;
}
.orientation img{
    width:  60%;
}
#practice{
    font-size: 45px;
    text-align: left;
    color:rgb(54, 54, 54);
    padding-bottom: 24px;
}
.practice{
    padding-left: 24px;
    padding-top: 32px;
    padding-right: 16px;
    display: block;
    padding-bottom: 32px;
}
.practice img{
    width: 60%;
}
.column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}
.row{
    display: flex;
    flex-direction: row;
}
#information-img{
    height: auto;
    width: 35%;
}
#inform-column{
    padding-top: 16px;
    padding-left: 16px;
    color:rgb(121, 118, 118);
    border-style: solid;
    border-width: 1px;
    padding-bottom: 16px;
}
#inform-title{
    text-align: center;
    color:rgb(54, 54, 54);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}
#inform-info{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    word-wrap: break-word;
    text-align: center;
}
.lecture{
    background: rgb(187, 187, 187);
}