.topnav-right a{
    display: flex;
    float: right;
    text-align: center;
    padding: 8px;
    padding-top: 22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: rgb(100, 100, 100);
    text-decoration: none;
}
#signin{
    padding-right: 16px;;
}
.topnav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    height: 64px;
    
}
.topnav img{
    display: flex;
    float: left;
    padding-top: 16px;
    height: auto;
    padding-left: 24px;
    margin: 0px;
}
#colmar{
    color:rgb(54, 54, 54);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.topnav h3{
    color:rgb(177, 177, 177);
    display: flex;
    float: left;
    font-size: 32px;
    line-height: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.container{
    display:flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow:hidden;
}
#banner{
    background-color: rgb(187, 187, 187);
}
#bannercontent{
    display: flex;
    flex-direction: column;
}
#bannercontent p{
    position: relative;
    top: 15%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    margin-right: 240px;
    color: rgb(73, 73, 73);
}
#learn{
    font-size: 48px;
    font-weight: 900;
}
#bannercontent button{
    position: relative;
    color:white;
    top: 20%;
    border-radius: 3px;
    margin-right: 240px;
    height: 60px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgb(73, 73, 73);
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 270px;
}
.container img{
    float: left;
    padding: 32px 24px;
    width: 60%;
    height: auto;
}
.wrapper-information{
    background-color: rgb(243, 243, 243);
}
#qoute{
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 32px;
    font-size: 18px;
    color:rgb(121, 118, 118);
    width: 60%;
    word-wrap: break-word;
}
.orientation img{
    width:  60%;
}
#practice{
    font-size: 45px;
    text-align: left;
    color:rgb(54, 54, 54);
    padding-bottom: 24px;
}
.practice{
    padding-left: 24px;
    padding-top: 32px;
    padding-right: 16px;
    display: block;
    padding-bottom: 32px;
}
.practice img{
    width: 60%;
}
.column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}
.row{
    display: flex;
    flex-direction: row;
}
#information-img{
    height: auto;
    width: 35%;
}
#information-img2{
    display:none;
}
#inform-column{
    padding-top: 16px;
    padding-left: 16px;
    color:rgb(121, 118, 118);
    border-style: solid;
    border-width: 1px;
    padding-bottom: 16px;
}
#inform-title{
    text-align: center;
    color:rgb(54, 54, 54);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}
#inform-info{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    word-wrap: break-word;
    text-align: center;
}
#inform-info a{
    color: inherit;
}
.lecture{
    background: rgb(187, 187, 187);
}
#start-learning{
    text-align: center;
    padding-top: 32px;
    font-size: 45px;
    color:rgb(54, 54, 54);
}
.wrapper-courses{
    background-color: rgb(219, 219, 219);
}
.course-mobile{
    display: none;
    color:rgb(63, 63, 63);
    border-radius: 3px;
    height: 60px;
    background-color: rgb(167, 167, 167);
    font-size: 24px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapper-courses img{
    height: auto;
    width: 100%;
}
.wrapper-courses .row{
    padding: 16px 75px;
}
.wrapper-courses .column{
    background-color: white;
    text-align: left;
    margin: 16px;
}
#course-title{
    color:rgb(54, 54, 54);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    padding-left: 16px;
}
#course-text{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(150, 150, 150);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
}
#thesis-main{
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 40px;
    color:rgb(54, 54, 54);
}
.wrapper-thesis video{
    padding-left: 24px;
    padding-right: 24px;
}
#thesis-img{
    width: 35%;
    height: auto;
    padding: 16px;
}
#thesis-urban{
    color:rgb(54, 54, 54);
    font-family: 'Times New Roman', Times, serif;
    font-weight:600;
    font-size: 24px;
    padding-left: 24;
    padding-right: 24px;
}
.thesis-fisma{
    background-color: rgb(199, 199, 199);
}
#thesis-title{
    color:rgb(54, 54, 54);
    font-family: 'Times New Roman', Times, serif;
    font-weight:600;
    font-size: 24px;
    text-align: center;
}
#thesis-qoute{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color:rgb(121, 118, 118);
    word-wrap: break-word;
}
#thesis-inform{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color:rgb(121, 118, 118);
    text-align: center;
}
footer p{
    float: left;
    font-size: 12px;
    padding-left: 24px;
    color: rgb(87, 87, 87);
}
footer a{
    float: right;
    text-align: center;
    font-size: 12px;
    padding-right: 12px;
}
footer a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: rgb(100, 100, 100);
}
/* Media Queries*/
@media (min-width: 600px){
    .icons{
        display:none;
    }
}
@media (/*change to max later*/max-width: 600px){
    .topnav{
        display: none;
    }
    .icons{
        display: flex;
        justify-content: space-evenly;
        z-index: 999;
        padding: 8px;
    }
    .column{
        width: 100%;
        position:relative;
    }
    .container div{
        display: flex;
        flex-direction: column;
    }
    #banner img{
        background-size: cover;
        width: 100%;
        height: auto;
        padding: 0;
    }
    #bannercontent{
        display: inline-block;
        padding: 0;
        margin: 0;
        overflow:visible;
        text-align: center;
        padding-left: 16px;
    }
    #bannercontent button{
        margin-bottom: 32px;
    }
    #learn{
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .wrapper-information .practice{
        display: none;
    }
    #inform-column{
        display: inline-block;
        width: 100%;
        overflow-x:visible;
    }
    #information-img{
        display: none;
    }
    #information-img2{
        display:inline;
        background-size: cover;
        width: 100%;
    }
    .wrapper-courses #desktop{
        display: none;
    }
    .course-mobile{
        display: inline-block;
        width:100%;
    }
    #thesis-img, #thesis-urban, #thesis-title, #thesis-qoute, #thesis-inform{
        display: none;
    }
    .wrapper-thesis video{
        width: 100%;
        min-width: 100%;
        min-height: auto;
        background-size: cover;
        overflow:hidden;
    }
}